---
import ProductCard from './ProductCard.astro';

const products = [
  {
    name: 'Vasos Termicos',
    description: 'Pack x25 vasos termicos de distintas medidas',
    image: '/images/vasos termicos.png',
  },
  {
    name: 'Bolsas camisetas',
    description: 'Bolsas camisetas, arranque, polipropileno y de baja densidad ',
    image: '/images/camiseta.png',
  },
  {
    name: 'Cubiertos Descartables',
    description: 'Tenedores, cucharas, cuchillos y mas',
    image: '/images/cubiertos.png',
  },
  {
    name: 'Cajas de Rotiserias',
    description: 'Cajas de distinto tipo para rotiserias',
    image: '/images/caja rotiseria.png',
  },
  {
    name: 'Bandejas para Microondas',
    description: 'Bandejas 102,103,105,107 para microondas',
    image: '/images/bandejas micro.png',
  },
  {
    name: 'Servilletas',
    description: 'Servilletas de distinto tama単o y dise単o',
    image: '/images/servilletas.png',
  },
  {
    name: 'Servilletas',
    description: 'Servilletas de distinto tama単o y dise単o',
    image: '/images/servilletas.png',
  }
];
---

<section id="productos">
  <h2 class="section-title">ALGUNOS PRODUCTOS DESTACADOS</h2>
  <div class="products-grid">
    {products.map(product => <ProductCard {...product} />)}
  </div>
</section>

<style>
  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
  }
</style>